


.main-nav {
	margin-top: 10px;
	margin-bottom: 60px;
}

.main-nav ul, .main-nav li {
	margin: 0;
	padding: 0;
}

.main-nav ul {
	background: gray;
	list-style: none;
	width: 100%;
}

.main-nav li {
	float: left;
	position: relative;
	width: auto;
}

.main-nav a {
	background: rgb(33, 44, 63);
	color: #FFFFFF;
	display: block;
	font: bold 12px/20px sans-serif;
	padding: 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-ms-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.main-nav li:hover a {
	background: #000000;
}

#submenu {
	left: 0;
	opacity: 0;
	position: absolute;
	top: 35px;
	visibility: hidden;
	z-index: 1;
}

li:hover ul#submenu {
	opacity: 1;
	top: 40px; /* adjust this as per top nav padding top & bottom comes */
	visibility: visible;
}

#submenu li {
	float: none;
	width: 100%;
}

#submenu a:hover {
	background: #DF4B05;
}

#submenu a {
	background-color: #000000;
}

.login ul {
	list-style: none;
	background-color: #444;
	text-align: center;
	padding: 0;
	margin: 0;
}

.login li {
	font-family: 'Oswald', sans-serif;
	font-size: 1.2em;
	line-height: 40px;
	height: 40px;
	border-bottom: 1px solid #888;
}

.login a {
	text-decoration: none;
	color: #fff;
	display: block;
	transition: .3s background-color;
}

.login a:hover {
	background-color: #005f5f;
}

.login a.active {
	background-color: #fff;
	color: #444;
	cursor: default;
}

@media screen and (min-width: 600px) {
	.login li {
		width: 120px;
		border-bottom: none;
		height: 50px;
		line-height: 50px;
		font-size: 1.4em;
	}

	/* Option 1 - Display Inline */
	.login li {
		display: inline-block;
		margin-right: -4px;
	}

	/* Options 2 - Float
  .login li {
    float: left;
  }
  .login ul {
    overflow: auto;
    width: 600px;
    margin: 0 auto;
  }
  .login {
    background-color: #444;
  }
  */
}

.sidebar-nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 200px;
	background-color: #f1f1f1;
}

.sidebar-nav li a {
	display: block;
	color: #000;
	padding: 8px 0 8px 16px;
	text-decoration: none;
}

/* Change the link color on hover */
.sidebar-nav li a:hover {
	background-color: #555;
	color: white;
}

.headContent ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(244, 244, 244);
}

.headContent li {
	float: right;
}

.headContent li a {
	display: inline;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.headContent li a:hover {
	background-color:  #777;;
}
#langue{
	margin-top:15px;
}
#header-search {
	overflow: auto;
	float: left;
	margin-left:15px;
	margin-top:5px;
}

#header-search input.searchbox {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #8e8e8e;
	background-color: #f5f5f5;
	height: 16px;
	padding: 4px;
	padding-right: 28px;
	color: #4a4a4a;
	float: left;
}

#header-search input.button {
	border: 0;
	padding: 0;
	margin: 0 0 0 -24px;
	width: 24px;
	height: 24px;
	background: transparent url('../images/search.png') center center
		no-repeat;
	float: left;
}



body,html{
    height: 100%;
  }

  nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
      -moz-transition: margin 200ms ease-out;
      -o-transition: margin 200ms ease-out;
      transition: margin 200ms ease-out;
  }

  .main{
    padding: 10px 10px 0 10px;
  }

 @media (min-width: 765px) {

    .main{
      position: absolute;
      width: calc(100% - 40px); 
      margin-left: 40px;
      float: right;
    }

    nav.sidebar:hover + .main{
      margin-left: 200px;
    }

    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: 0px;
    }

    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
      text-align: center;
      width: 100%;
      margin-left: 0px;
    }
    
    nav.sidebar a{
      padding-right: 13px;
    }

    nav.sidebar .navbar-nav > li:first-child{
      border-top: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav > li{
      border-bottom: 1px #e5e5e5 solid;
    }

    nav.sidebar .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
      padding: 0 0px 0 0px;
    }

    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
      color: #777;
    }

    nav.sidebar{
      width: 200px;
      height: 100%;
      margin-left: -160px;
      float: left;
      margin-bottom: 0px;
    }

    nav.sidebar li {
      width: 100%;
    }

    nav.sidebar:hover{
      margin-left: 0px;
    }

    .forAnimate{
      opacity: 0;
    }
  }
   
  @media (min-width: 1330px) {

    .main{
      width: calc(100% - 200px);
      margin-left: 200px;
    }

    nav.sidebar{
      margin-left: 0px;
      float: left;
    }

    nav.sidebar .forAnimate{
      opacity: 1;
    }
  }

  nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
  }

  nav:hover .forAnimate{
    opacity: 1;
  }
  section{
    padding-left: 15px;
  }
  
  
  
  
  
  
  
  
  
  

  .book {
  font-size: 0;
  margin-top:-50px;
  margin-left: 220px;
 
}

.book a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 2px;
  width: calc(50% - 4px);
  margin-right: 8px;
  
}

.book a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  .book a {
    width: calc(25% - 6px);
  }
  
  .book a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
 .book a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.book a:hover img {
  transform: scale(1.15);
}

.book a figure {
  margin: 0;
}

.book a figure img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}
  
/* @footer
=======================*/
#mainFooter {
	height:200px;
	background-color:#aaa
}
	
#footerwrap {
	width:100%; 
	background:transparent url(img/footer-bg.jpg) no-repeat; 
	height:200px;
	border-top:1px solid #fff;
		background-color:#777
}
#fsubwrap1 {
	width:100%;
	height:150px;
	border-bottom:1px solid #777;
}
#fsubwrap2 {
	width:100%;
	height:50px;
	border-top:1px solid #dedede;
}

#fsub1, #fsub2, #fsub3, #fsub4 {
	margin:30px 0 0 0;
}
#fsub1, #fsub2, #fsub3 {
	border-right:1px solid #777;
}
#fsub2, #fsub3, #fsub4 {
	border-left:1px solid #dedede;
	padding:0 0 15px 20px;
}
#fsub1 {
	padding:0 0 10px 0;
}

#fsub1 h1, #fsub2 h1, #fsub3 h1, #fsub4 h1 {
	padding:0 0 10px 0;
	font:normal 24px/1.5 Tahoma, Geneva, sans-serif;
	text-shadow: #333 1px 1px 1px;
	color:#fff;
	text-transform:capitalize;
}
#fsub1 p, #fsub2 p, #fsub3 p, #fsub4 p {
	font:italic 14px/1.2 Georgia, "Times New Roman", Times, serif;
	color:#404040;
}
#fsub1 input {
	float:left;
	background:rgba(255,255,255, 0.2);
	padding:7px 5px;
}
::-webkit-input-placeholder {
   color: #404040;
}
:-moz-placeholder {
   color: #404040;
}

#fsub1 .button a {
	float:right;
	padding:7px;
	margin:0 20px 0 0;
}
#fsub1 .button a:hover {
	background:#fff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgb(207,207,207)), color-stop(1, rgb(250,250,250))); 
	background:-moz-linear-gradient(center top, rgb(207,207,207) 0%, rgb(250,250,250) 100%);
}
#fsub1 .button a:active, #fsub4 .icon a:active {
	margin-top:1px;
}
#fsub1 input[placeholder] {
	font:italic 14px/1.2 Georgia, "Times New Roman", Times, serif;
}

#fsub4 .icon {
	float:left;
	padding:0 15px 0 0;
}
#main-footer a:hover {
	background:none;
}


#fsubwrap2 #copyright-info small {
	display:block;
	font:normal 14px/1.2 Tahoma, Geneva, sans-serif;
	color:#333;
	text-shadow: 1px 1px 0px #bbb;
	margin-top:15px;
}


